footer {
<<<<<<< HEAD
	background-color:white;
	justify-content:center;
	align-items: center;
	height:60px;
	width:100%;
	border-top:1px solid #CCCCCC;
	bottom:0;
	position:fixed;
	display: flex;
=======
		display: flex;
		position: fixed;
		bottom: 0px;
		background-color: white;
		border-top: 1px solid #CCCCCC;
		height: 60px;
		width: 100%;
		justify-content: center;
		align-items: center;
>>>>>>> ea8f808b1a3b7d37f1f7fe8f225bcae4e37c0388
}
