header {
<<<<<<< HEAD
	background-color:white;
	height:70px;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	background:url(../images/logo.png) no-repeat;
	background-position:20px;
=======
  background: white url("../images/logo_header.png") 20px no-repeat;
  height:70px;
  width:100%;
  border-bottom: 1px solid #CCCCCC;
>>>>>>> ea8f808b1a3b7d37f1f7fe8f225bcae4e37c0388
}
